/* font-family: "Roboto", sans-serif;  
font-family: "Raleway", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.img {
  display: block;
  margin: 0 auto;
}
.second-section img,
.third-section img,
.fourth-section img {
  display: block;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.first-section {
  padding: 188px 0;
  background-color: #2e2f42;
}
.page-title {
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-top: 188px 0;
  margin-right: 472px 0;
  margin-bottom: 292px 0;
}
.one-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  display: block;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.one-button:hover,
.one-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.second-section {
  padding: 120px 0;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-list {
  display: flex;
  gap: 24px;
}
.points-text {
  width: calc((100% - 72px) / 4);
}
.points-title {
  text-align: left;
  margin-bottom: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.third-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.third-section .page-title-third {
  margin-bottom: 72px;
}
.page-title-third {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.third-list {
  display: flex;
  gap: 24px;
}

.team-page {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-bottom: 32px;
}
.container-team {
  padding: 0 15px;
}
.team-container {
  padding: 32px 0;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraf-sec {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.page-title-third {
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.fourth-section .page-title-third {
  margin-bottom: 72px;
}
.fourth-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.apps-list {
  width: calc((100% - 48px) / 3);
}

.fourth-apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-page {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.paragraf-footer {
  max-width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
